@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 90%;
  height: 90%;
  visibility: hidden;
}

#drawTree,
#clear {
  position: absolute;
  background-color: #cb9866;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 30px;
  width: 300px;
  cursor: pointer;
  transition: 300ms all;
  font-family: "Roboto Mono", monospace;
}

#drawTree:hover,
#clear:hover {
  background-color: #8a6745;
  transition: 300ms all;
}

#drawTree {
  top: 30%;
  left: 70%;
}

#clear {
  top: 50%;
  left: 70%;
}

#body {
  width: 100vw;
  height: 100vh;
}

#heading {
  color: #cb9866;
  position: absolute;
  top: 80%;
  left: 23%;
  font-size: 60px;
  font-family: "Roboto Mono", monospace;
}
